<% provide(:title, "Finished the Rails Tutorial") %>
<h1>Yay! It's done!</h1>
<p>
  Well, actually I'm still working on Chapter 12 so not quite done yet, but 
  hopefully by the time you get to see this page I will be done.
  </br></br>
  As for my impression about Rails, I have to say that I really like the 
  framework though I feel like that there is so much I don't know and I can't 
  say that I really understand all the material in the tutorial, but I am 
  definitely going to continue using it. My plan is to go through the tutorial
  at least one more time and create the app again. I am also going to supplement
  the tutorial with a video tutorial on lynda.com and a book. The next step is 
  to create an app of my own design that I can show and talk about when interviewing
  for an entry level developer position.
  </br></br>
  Thanks for a great class Doug and I hope you have a great summer!
  
</p>
